<a href="/todos/new" class="btn btn-primary mb-3">Create</a>
<ul class="list-group">
  {{#each todos}}
  <li class="list-group-item bg-light rounded-pill mb-4">
    <div class="d-flex align-items-center my-2">
      <form action="/todos/{{ this._id }}?_method=PUT" method="POST" class="flex-grow-1 flex-shrink-1 my-auto d-flex align-items-center" style="min-width:0">
        <input class="flex-grow-0 flex-shrink-0 mr-3" style="vertical-align: middle;" type="checkbox" name="isDone" {{#if this.isDone }} checked {{/if}}
          onclick="this.parentNode.submit()">
        <h5 class="font-weight-light flex-grow-1 flex-shrink-1 text-truncate" style="margin: 0;line-height:1.7rem">
          {{ this.name }}
        </h5>
      </form>
      <div class="col-auto">
        <a class="btn btn-secondary" href="./todos/{{ this._id }}">detail</a>
        <a class="btn btn-success" href="./todos/{{ this._id }}/edit">edit</a>
        <form action="./todos/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>